{% extends 'base.html' %}

{% block content %}

<head>
    <style>
        .cart-row {
            display: flex;
        }
        .cart-items {
            width: 75%;
        }
        .cart-item-image {
            width: 75px;
            height: auto;
            border-radius: 10px;
        }
        .section-header {
            font-weight: normal;
            text-align: center;
            font-size: 2.5em;
            line-height: 150px;
        }
        .prices {
            
            justify-content: right;
        }
    </style>
</head>

<body>
    <section class="container content-section">
        <h2 class="section-header">Cart</h2>
        <div class="container">
            <div class="cart-items">
                <div class="cart-row">
                    <div class="col">
                        {% for item in cart['items'] %}
                            <tr>{{item['name']}}</tr> 
                            
                            <div class="prices">£{{'%.2f' | format(item['price'] | float)}} <hr> </div>
                            
                            
                        {% endfor %}

                        <h4>£{{'%.2f' | format(cart.total|float)}}</h4>
        
                        <button>Checkout</button>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}