{% extends 'purchase.html' %}

{% block title %}Medium Pink Big Cat Print Cosmetic Bag{% endblock %}

{% block description %} A medium sized pouch in a lovely pink cat print!

This box pouch is perfect for make-up, toiletries, stationery or anything you wish!

Fusible fleece has been ironed onto the outer fabric to give the pouch some structure as well as a 
soft finish which means the pouch is super easy to fold flat for easy storage and travelling.

Due this the fusible fleece layer, I would suggest hand washing this item.

Dimensions:
Width: 3.5"
Length: 6.5"
Height: 2.5"

*please note* this listing is for a single box pouch and not any of the matching items shown in 
the photos - they are just for photographic purposes and are separate listings :) Additionally, I have 
tried to represent the products as accurately as possible but pattern distribution and product dimensions may differ slightly as they are handmade.{% endblock %}
{% block price %}£5.00{% endblock %}

{% block image_1 %}{{ url_for('static', filename='cherry_mask.jpg') }}{% endblock %}
{% block image_2 %}{{ url_for('static', filename='cherry_mask2.jpg') }}{% endblock %}
{% block image_3 %}{{ url_for('static', filename='cherry_mask3.jpg') }}{% endblock %}
{% block image_bot_1 %}{{ url_for('static', filename='cherry_mask.jpg') }}{% endblock %}
{% block image_bot_2 %}{{ url_for('static', filename='cherry_mask2.jpg') }}{% endblock %}
{% block image_bot_3 %}{{ url_for('static', filename='cherry_mask3.jpg') }}{% endblock %}