{% extends 'purchase.html' %}

{% block title %}Cherry Print Fabric Face Mask{% endblock %}

{% block description %} Fabric Face Mask in a cute cherry print. <br>

This face mask is made from cotton and is two layers thick - making it super breathable and comfortable whilst also staying protective. <br> <br>

This mask is made from remnant fabric and has elastic ties for a comfortable fit. <br> <br>

*please note* this listing is for a single face mask and not any of the matching items shown in the photos - they are just for 
photographic purposes and are separate listings :){% endblock %}
{% block price %}£5.00{% endblock %}

{% block image_1 %}{{ url_for('static', filename='cherry_mask.jpg') }}{% endblock %}
{% block image_2 %}{{ url_for('static', filename='cherry_mask2.jpg') }}{% endblock %}
{% block image_3 %}{{ url_for('static', filename='cherry_mask3.jpg') }}{% endblock %}
{% block image_bot_1 %}{{ url_for('static', filename='cherry_mask.jpg') }}{% endblock %}
{% block image_bot_2 %}{{ url_for('static', filename='cherry_mask2.jpg') }}{% endblock %}
{% block image_bot_3 %}{{ url_for('static', filename='cherry_mask3.jpg') }}{% endblock %}