{% extends 'purchase.html' %}

{% block title %}Large Dinosaur Print Cosmetic Bag{% endblock %}

{% block description %} A beautiful large pouch in a lovely sea dinosaur print! <br>

This box pouch is perfect for make-up, toiletries, stationery or anything you wish! <br> <br>

The purple zip and matching lilac lining give the pouch a beautiful finish - the perfect gift to yourself or a loved one! <br>

Fusible fleece has been ironed onto the outer fabric to give the pouch some structure as well as a soft finish which means the pouch is super easy to fold flat for easy storage and travelling. <br> <br>

Due to the fusible fleece layer, I would suggest hand washing this item. <br>

Dimensions
Width - 4"
Length - 7"
Height - 2.5"
<br>
<h6>*please note* this listing is for a single box pouch and not any of the matching items shown in the photos - they are just for photographic purposes and are separate listings :) Additionally, I have tried to represent the products as accurately as possible but pattern distribution and product dimensions may differ slightly as they are handmade.</h6>{% endblock %}

{% block price %}£12.00{% endblock %}

{% block image_1 %}{{ url_for('static', filename='dinosaur.jpg') }}{% endblock %}
{% block image_2 %}{{ url_for('static', filename='dinosaur2.jpg') }}{% endblock %}
{% block image_3 %}{{ url_for('static', filename='dinosaur3.jpg') }}{% endblock %}
{% block image_bot_1 %}{{ url_for('static', filename='dinosaur.jpg') }}{% endblock %}
{% block image_bot_2 %}{{ url_for('static', filename='dinosaur2.jpg') }}{% endblock %}
{% block image_bot_3 %}{{ url_for('static', filename='dinosaur3.jpg') }}{% endblock %}