{% extends 'purchase.html' %}

{% block title %}Large Cherry Print Cosmetic Bag{% endblock %}

{% block description %} Large boxed makeup bag in the sweetest cherry fabric!

This cute bag is perfect for make-up, toiletries, stationery or anything you wish! <br> <br>

Fusible fleece has been ironed onto the outer fabric to give the pouch some structure as well as 
a soft finish which means it is super easy to fold flat for storage and travelling.

Due to the fusible fleece layer, I would suggest hand washing this item. <br> <br>

Dimensions
- Width: 4" 
- Length: 7"
- Height: 2.5" <br>

*please note* this listing is for a single box pouch and not any of the matching items shown in the photos - they are just for photographic purposes and are separate listings :) Additionally, I have tried to represent the products as accurately as possible but pattern distribution and product dimensions may differ slightly as they are handmade. {% endblock %}
{% block price %}£8.00{% endblock %}

{% block image_1 %}{{ url_for('static', filename='cherry.jpg') }}{% endblock %}
{% block image_2 %}{{ url_for('static', filename='cherry2.jpg') }}{% endblock %}
{% block image_3 %}{{ url_for('static', filename='cherry3.jpg') }}{% endblock %}
{% block image_bot_1 %}{{ url_for('static', filename='cherry.jpg') }}{% endblock %}
{% block image_bot_2 %}{{ url_for('static', filename='cherry2.jpg') }}{% endblock %}
{% block image_bot_3 %}{{ url_for('static', filename='cherry3.jpg') }}{% endblock %}