{% extends 'purchase.html' %}

{% block title %}Small Pink Strawberry Print Cosmetic Pouch{% endblock %}

{% block description %} A small boxed make up pouch in a pink strawberry print! <br> <br>

This little box pouch is perfect for make-up, travel toiletries or any little trinkets you wish! <br> <br>

Fusible fleece has been ironed onto the outer fabric to give the pouch some structure as well as a soft finish which means the pouch is super easy to fold flat for easy storage and travelling. <br><br>

Due to the fusible fleece layer, I would suggest hand washing this item. <br><br>

Dimensions:
Width: 3.5"
Length: 6"
Height: 2.5"
<br>
<h6>*please note* this listing is for a single box pouch and not any of the matching items shown in the photos - they are just for photographic purposes and are separate listings :) Additionally, I have tried to represent the products as accurately as possible but pattern distribution and product dimensions may differ slightly as they are handmade. </h6> {% endblock %}

{% block price %}£8.00{% endblock %}

{% block image_1 %}{{ url_for('static', filename='strawb_bag.jpg') }}{% endblock %}
{% block image_2 %}{{ url_for('static', filename='strawb_bag2.jpg') }}{% endblock %}
{% block image_3 %}{{ url_for('static', filename='strawb_bag3.jpg') }}{% endblock %}
{% block image_bot_1 %}{{ url_for('static', filename='strawb_bag.jpg') }}{% endblock %}
{% block image_bot_2 %}{{ url_for('static', filename='strawb_bag2.jpg') }}{% endblock %}
{% block image_bot_3 %}{{ url_for('static', filename='strawb_bag3.jpg') }}{% endblock %}