{% extends 'purchase.html' %}

{% block title %}Boob Print Face Mask | Valentine's Mask{% endblock %}

{% block description %} Reusable fabric face masks in a boob print!! <br> <br>

These face masks are ideal as a gal/pal/valentines gift to yourself or someone else!! <br> <br>

Masks are 2 layers thick but can be made 3 layers of needed - just drop me a message or add a little note at the checkout. {% endblock %}

{% block price %}£5.00{% endblock %}

{% block image_1 %}{{ url_for('static', filename='boob_mask_1.jpg') }}{% endblock %}
{% block image_2 %}{{ url_for('static', filename='boob_mask_2.jpg') }}{% endblock %}
{% block image_3 %}{{ url_for('static', filename='boob_mask_4.jpg') }}{% endblock %}
{% block image_bot_1 %}{{ url_for('static', filename='boob_mask_1.jpg') }}{% endblock %}
{% block image_bot_2 %}{{ url_for('static', filename='boob_mask_2.jpg') }}{% endblock %}
{% block image_bot_3 %}{{ url_for('static', filename='boob_mask_4.jpg') }}{% endblock %}